{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
<details{{ attributes.addClass('card') }}>
  {%- if title -%}
    {%
      set summary_classes = [
        required ? 'js-form-required',
        required ? 'form-required',
        'form-label',
        'card-header',
      ]
    %}
    <summary{{ summary_attributes.addClass(summary_classes) }}>
      <span class="title">{{ title }}</span>
      <span class="icon ms-2"><i class="fas fa-chevron-down" aria-hidden="true"></i></i>
    </summary>
  {%- endif -%}
  <div class="details-wrapper card-body">
    <div class="d-grid gap-3">
      {%- if description -%}
        <div class="details-description description small text-muted">{{ description }}</div>
      {%- endif -%}

      {%- if children -%}
        {{ children }}
      {%- endif -%}

      {%- if value -%}
        {{ value }}
      {%- endif -%}
    </div>

    {% if errors %}
      <div class="invalid-feedback d-block mt-1">{{ errors }}</div>
    {% endif %}
  </div>
</details>
